.curse-header{
    position: relative;
}
.curse-header:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
.curse-header_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--font-light);    
}