*{
    box-sizing: border-box;
}
html {
	font-size: 14px;
	line-height: 1.5;
    font-family: 'pf_bbok', Helvetica, Arial, sans-serif;
    color: var(--font-dark);
}
html, body{
    margin: 0;
}
.wrapper{
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 calc(var(--grid-margin) / 2);
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color: var(--primary-color);
}
a:visited, a:active{
    color: var(--font-light);
}

@media (min-width:840px){
	html{font-size: 16px}
}