*{
    box-sizing: border-box;
}
html {
	font-size: 16px;
	line-height: 1.5;
    font-family: 'pf_bbok', Helvetica, Arial, sans-serif;
    color: var(--font-dark);
    -webkit-font-smoothing: antialiased 
}
html, body{
    margin: 0;
    height: 100vh;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 304px;
    max-width: 1600px;
}
.main {
    padding-top: var(--padding-top);
}
a{
    text-decoration: none;
    color: var(--primary-color);
    transition: var(--transition);
}
a:hover{
    color: var(--hover-color);
}
/* a:visited, a:active{
    color: var(--font-light);
} */
.btn{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--font-white);
    padding: 8px 16px;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--hover-color);
    color: var(--font-white); 
}
.btn--action{
    background-color: var(--secondary-color);
    padding: 8px 24px;
}
h1,h2,h3,h4,h5,h6,p,time{
	margin-bottom: 0;
	margin-top: 1rem;
}
ul, ol{
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6{font-weight: normal}

h1 {
	font-size: 2.375em; /* 38px */
    line-height: 1.057; /* 40px */
}

h2 {
	font-size: 1.875em; /* 30px */
    line-height: 1.075; /* 32px */
    /* text-align: left; */
}

h3 {
	font-size: 1.375em; /* 22px */
	line-height: 1.091; /* 24px */ 
}

h4 {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
}

h5 {
	font-size: 0.8750em; /* 14px */
	line-height: 1.7143; /* 24px */
}

h6,time {
	font-size: 0.7500em; /* 12px */
	line-height: 1.34; /* 16px */ 
}

time+h1,p+ul, p+ol{margin-bottom: 0}
p+h2,p+h3{margin-bottom: 1.5rem}
h2+p, h3+p{margin-bottom: 0}

tt, kbd, samp{
	font-size: .8em;
	line-height: 1;
}

.aligncenter, .alignleft, .alignright,.fl,.fr{
	box-sizing: content-box;
	display: block;
}

.alignleft, .fl{
	float: left;
	margin: .5rem .5rem 5rem 0;
}
.alignright, .fr{
	float: right;
	margin: .5rem 0 .5rem .5rem;
}

.aligncenter{
	margin-left: auto;
	margin-right: auto;
}

.wp-smiley{vertical-align: middle}

.wp-caption{
	max-width: 100%;
	margin-bottom: 1.5rem;
}

.wp-caption > img {
	display: block;
}

.wp-caption-text{
	margin-top: 0;
	font-size: .75rem;
	line-height: 1.33333;
}
.tile{
    width: calc(var(--grid-column) * 4 - var(--grid-margin) * 2);
    margin: calc(var(--grid-margin)*1.5)  var(--grid-margin);
    color: var(--font-white);
    box-shadow: 0 1px 7px rgba(0,0,0,.05);
    border: none;
    border-radius: var(--border-radius); 
    transition: 0.35s ease-out;
    overflow: hidden;
}
.tile:hover{
    cursor: pointer;
    box-shadow: 0 23px 40px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}
.nostyle{
	display: block;
	text-indent: -9999px;	
}

/* for footer to be fixed to bottom */
.flex-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.flex-content{
    flex: 1 0 auto;
}
.flex-footer{
    flex: 0 0 auto;
}
iframe{
    max-width: 100%;
}
.four-block{
    color: #ffffff;
    background-color: var(--logo-color);
    margin-bottom: 40px;
}
.four-container{
    padding: 144px 24px 40px 24px;
}


@media (min-width: 600px){
    .alignleft, .fl{
        margin: 32px 32px 32px calc(var(--grid-column) * -1);
    }
    .alignright, .fr{
        margin: 32px calc(var(--grid-column) * -1) 32px 32px;
    }
    .tile{
        width: calc(var(--grid-column) * 4 - var(--grid-margin) * 2);
    }
}
@media (min-width:840px){
    .four-container{
        padding-top: 96px;
    }
}
@media (min-width:1024px){
    .tile{
        width: calc(var(--grid-column) * 3 - var(--grid-margin) * 2);
    }
}