header{
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.logo{
    width: calc(var(--grid-column) * 2);
    padding-right: calc(var(--grid-margin) * 3);
}
.logo__img{
    height: 100%;
    width: 100%;
}
.main-menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(var(--grid-column) * 9);
}
.menu{
    display: flex;   
}
.menu > li{
    margin-right: var(--grid-margin);
    white-space: nowrap;
}
.languages{
    display: flex;
}
.languages__item{
    margin-right: calc(var(--grid-margin) / 2);
}