.header-container{
    box-shadow: var(--box-shadow);
    background-color: rgba(255,255,255,.8);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 104px;
}
.logo{
    width: calc(var(--grid-column) * 2 - var(--grid-margin) * 2);
    margin: 0 var(--grid-margin);
}
.logo__img{
    height: 100%;
    width: 120px;
}
.main-menu{
    flex-basis: 100%;
    overflow: hidden;
    margin: 0 var(--grid-margin);
    font-size: 1.5rem;
    color: var(--font-dark);
    height: 32px;
}
.menu{
    width: 100%;
    display: flex;
    line-height: 2rem;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu::-webkit-scrollbar { 
    width: 0;
}
.menu-item{
    margin-right: calc(var(--grid-margin) * 2);
    white-space: nowrap;
}
.menu-item > a{
    color: var(--font-dark);
}
.menu-item.current-menu-item > a{
    color:  var(--hover-color);
}

.languages{
    display: flex;
    justify-content: flex-end;
    margin: 0 var(--grid-margin);
    width: calc(var(--grid-column) * 2 - var(--grid-margin) * 2);
    list-style: none;
    padding: 0;
}
.languages__item > a{
    display: inline-block;
    position: relative;
    padding: 0 var(--grid-margin);
}
.languages__is-current{
    color: var(--font-light);
}

@media(min-width:840px){
    .header{
        height: 56px;
        flex-wrap: nowrap;
    }
    .main-menu{
        width: calc(var(--grid-column) * 8 - var(--grid-margin) * 2);
        display: flex;
        justify-content: flex-start;
        flex-basis: auto;
        color: var(--primary-color);
        font-size: 1rem;
        height: auto;
    }
    .menu{
        overflow-x: auto;
        white-space: normal;
        padding-bottom: 0;
    }
    .menu-item{
        margin-right: calc(var(--grid-margin) * 2);
        padding: 0 var(--grid-margin);
        line-height: 56px;
    }
    .menu-item > a{
        color: var(--primary-color);
    }
    .menu-item > a:hover{
        color:  var(--hover-color);
    }
    .current-menu-item{
        position: relative;
    }
    .current-menu-item::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--hover-color);
        left: 0;
        bottom: 1px;
        position: absolute;
    }

    .languages{
        order: 3;
        line-height: 56px;
        /* justify-content: center; */
    }
    .languages__is-current::after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--font-light);
        left: 0;
        bottom: 1px;
        position: absolute;
    }
}