.curse-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: calc(var(--grid-column) * 4 - var(--grid-margin) * 2);
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    padding: 16px 8px;
    box-sizing: border-box;
    position: relative;
    transform: translateY(-50%);
    background-color: var(--font-white);
}
.info-wrap--lg{
    width: calc(var(--grid-column) * 2 - var(--grid-margin) * 2);
    /* margin: 0 var(--grid-margin); */
    text-align: center;
}
.info-wrap--sm{
    width: calc(var(--grid-column) - var(--grid-margin) * 2);
    /* margin: 0 var(--grid-margin); */
    text-align: center;
}

.info__main{
    font-size: 1.375em;
    font-weight: var(--font-regular);
    font-family: sans-serif;
    line-height: 1.375em;
    text-align: left;
    display: inline-block;
    margin: 0 8px;
}
.info__main--center{
    text-align: center;
}
.info__main--color{
    color: var(--font-title);
}
.info__sub{
    display: block;
    color: var(--font-light);
    font-size: 1rem;
    line-height: 1;
}

@media (min-width: 600px){
    .curse-info{
        width: calc(var(--grid-column) * 6 - var(--grid-margin) * 2);
        padding: 16px;
    }
}

@media (min-width:840px){
    .curse-info{
        width: calc(var(--grid-column) * 8 - var(--grid-margin) * 2);
        flex-wrap: nowrap;    
        padding: 16px 24px;
    }
    .info__main{
        margin: 0 4px;
    }
}
@media (min-width:863px){
    .info__main{
        margin: 0;
    }
}
@media (min-width:1600px){
    .curse-info{
        width: calc(var(--grid-column) * 10 - var(--grid-margin) * 2);
    }
}