.footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}
.footer__contacts,
.footer__tel,
.footer__social{
	/* width: calc(var(--grid-column) * 4 - var(--grid-margin) * 2 ); */
	margin: var(--grid-margin);
	display: flex;
}
.footer__contacts,
.footer__tel{
	flex-direction: column;
	justify-content: space-between;
}
.footer__contacts p{
	margin: 0;
}
.footer__sponsor{
	/* width: calc(var(--grid-column) * 4 - var(--grid-margin) * 2 ); */
	margin: var(--grid-margin);
	display: flex;
}
.footer__sponsor-wrap{
	text-align: left;
	font-size: 12px;
	font-weight: var(--font-semibold);
}
.footer__sponsor-wrap p{
	margin: 0;
}
.footer__tel a{
	display: block;
}
.footer__tel a:first-of-type{
	margin: 0;
}
.footer__social{
	display: flex;
}
.footer__social a{
	margin: 0 8px;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	display: block;
	width: 42px;
	height: 42px;
}
.footer__social-linkedin{
	background-image: url("../../img/icons/linkedin.svg");
}
.footer__social-instagram{
	background-image: url("../../img/icons/instagram.svg");
}
.footer__social-facebook{
	background-image: url("../../img/icons/facebook.svg");	
}
.footer__social a:first-of-type{
	margin-left: 0;
}
.footer__social a:last-of-type{
	margin-right: 0;
}
.footer__copyright{
	flex-basis: 100%;
	width: 100%;
	font-size: 12px;
	margin: 0 var(--grid-margin);
}
@media (min-width:600px){
	.footer{
		flex-flow: row wrap;
	}
}
